/* Common  */
body {
	background-color: #FFFFFF;
	font: normal 85% sans-serif;
	/*background-color: #B7D897;*/
}

a:focus, a:hover {
	color: #039;
}

a {
	color: #456;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#bottom-footer {
	color: #777;
	font: normal 90% sans-serif;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.underline {
	text-decoration: underline;
}

.right-border {
	border-right: 1px solid #A8A8A8 !important;
}

.vertical {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	white-space: nowrap;
	display: block;
	bottom: 0;
	width: 20px;
	height: 20px;
}

.toggled-header {
	position: relative;
	top: 30px;
	font-size: initial;
}

#left-toggler, #right-toggler {
	overflow: visible !important;
}

td {
	position: relative;
}

div.ui-terminal {
	background: black;
	color: white;
}
/* 
button.ui-button.icon-only {
	background:none;
	border:none;
	width:16px;
}

button.ui-button.icon-only:focus {
	outline:none;
}

button.ui-button.icon-only span {
	left:0;
	margin-top: -10px !important;
} */

button.ui-button.no-value {
	height: 12px;
	width: 2.2em;
	outline:none;
}

button.ui-button.no-background {
	background: none;
    border: none;
    box-shadow: none;
}

button.ui-button.no-background:hover {
    -moz-box-shadow: 0 0 5px #85b2cb;
    -webkit-box-shadow: 0 0 8px #85b2cb;
    box-shadow: 0 0 8px #85b2cb;
}

button.ui-button.no-value > span.ui-icon {
	margin-left: -8px;
	margin-top: -8px;
}

button.ui-button.no-value > span.ui-button-text {
	display:none;
}

button.ui-button.fa-fix {
	top:2px;
	width: 1.4em;
	height:14px;
}

button.ui-button.fa-fix > span.ui-icon {
	margin-left: -6px;
	margin-top: -6px;
}

#body tr.ui-state-highlight td {
	text-shadow: none;
}

#top span.ui-menuitem-icon {
	font-size: 15px;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-unit-footer {
	background: white;
	border: none;
	border-top: 1px solid #a8a8a8;
}

/* .ui-layout-resizer {
	border: 1px solid #B7D897 !important;
} */

.ui-layout-resizer.ui-draggable-handle {
	border: 1px solid #A8A8A8 !important;
}



#body .ui-layout-unit .ui-layout-unit-content {
	padding: 0;
}

.left, .alignleft {
	float: left;
}

#top {
	border:0;
	padding:0;
}

i.fa.fa-external-link:hover {
	color: #0000ff;
}

table.no-border tr, 
table.no-border td {
	border: none !important;
}

div.disabled {
	opacity:0.35;
}

div.ui-datatable-scrollable-body {
	outline: none;
}

/* Yellow Datatable Select */
tbody > tr.ui-widget-content.ui-state-highlight {
	background:#f7e9b0;
	border:inherit;
	
}

tbody > tr.ui-widget-content.ui-state-highlight > td {
	color:#4F4F4F;
}
/***************************/


/* Dynamic sizes for datatable header filter inputs */

div.ui-datatable thead th.ui-filter-column > input.ui-column-filter,
div.ui-datatable thead th.ui-filter-column > div.ui-column-customfilter input {
	max-width: 150px;
	width:75%;
}

/* Button icons are slightly off center because of font size changes */
body .ui-button-icon-only .ui-icon.fa, body .ui-button-text-icon-left .ui-icon.fa, body .ui-button-text-icon-right .ui-icon.fa {
	margin-top: -6px;
}

i.fa.emphasize-hover:hover {
	-moz-box-shadow: 0 0 5px #85b2cb;
	-webkit-box-shadow: 0 0 8px #85b2cb;
	box-shadow: 0 0 8px #85b2cb;
}

/* Theme overrides */

.ui-state-hover a, .ui-state-hover a:hover {
	text-decoration: underline;
}

/* General */

#page-title h1, #page-title h1 > a, #page-title h2, #page-title h3 {
	color: #888;
	margin: auto;
	margin-top: 10px;
}

#page-title h2 > p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#page-title h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
}

#page-title {
	text-align: center;
}