.green {
    color: green;
}

.red {
    color: red;
}

/* JQuery UI based tooltips */

.help-icon {
    cursor: pointer;
}

.help-icon:before {
    position: relative;
    /* top: 1px; */
    margin-right: 5px;
    display: inline-block;
    speak: none;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* color: orange; */
    content: '\f059';
}

.help-icon:hover:before {
    -moz-box-shadow: 0 0 5px #85b2cb;
    -webkit-box-shadow: 0 0 8px #85b2cb;
    box-shadow: 0 0 8px #85b2cb;
}

.ui-tooltip {
    background: white;
    opacity: 1;
    max-width: 500px;
    border-width: 2px;
    padding: 8px;
    z-index: 9999;
    position: absolute;
}

.overlay-help p {
    margin: 0.2em 1em;
    padding-left: 1.5em;
    text-indent: -1.5em;
    line-height: 1.5em;
}

.overlay-help h3 {
    text-decoration: underline;
}

.overlay-help span.ui-icon {
    display: inline-block;
    vertical-align: text-bottom;
}

/* Datatables */

div.ui-table-footer-align-right > div.ui-datatable-footer {
    text-align: right;
}
