#formSelect input.ui-inputfield {
	width:50px;
}

#formSelect input.ui-spinner-input {
	width:50px;
}

table.no-border, table.no-border tr, table.no-border td {
 border:none !important;
  border-style: none !important;
 }
 
li.ui-datalist-item {
	margin-bottom:5px;
}

div.geneList {
	/* width:500px */
}

div.geneList .ui-datalist-content {
	height: 135px;
  	overflow-y: auto;
}

div.forceRight > a {
	float:right;
}


div.ui-table-footer-align-right > div.ui-datatable-footer {
	text-align:right;
}

div.ui-table-graph-float-left > div.ui-datatable-footer {
	height:26px;
}

div.ui-table-exporter-align-right > div.ui-datatable-footer > a {
	float:right;
}

div.ui-table-graph-align-left > div.ui-datatable-footer > button {
	left: 50px;
  	position: absolute;
  	height: 26px;
}

/* Footer Graph Left Align */

div.ui-table-graph-float-left > div.ui-datatable-footer > span.footer-graph > button {
	float:left;
	height: 26px;
	margin-left:10px;
}

div.ui-table-graph-float-left > div.ui-datatable-footer > span.footer-graph > div.ui-selectonemenu {
	float:left;
/* 	height: 26px; */
	width: 90px;
}

div.ui-table-graph-float-left > div.ui-datatable-footer > span.footer-graph  span.ui-spinner {
	float:left;
	height: 26px;
}

div.ui-table-graph-float-left > div.ui-datatable-footer > span.footer-graph span.ui-spinner > input.ui-spinner-input{
	width:30px;
}

div.ui-table-graph-float-left > div.ui-datatable-footer > span.footer-graph > span.text {
	float:left;
	line-height:26px;
	margin-left:5px;
	margin-right:5px;
}

div.ui-table-graph-float-left > div.ui-datatable-footer > span.footer-graph > span.text-separator {
	float:left;
	line-height:26px;
	margin-left:15px;
	margin-right:15px;
}

/* ************************ */

tbody > tr.ui-widget-content.ui-state-highlight {
/* 	background:#f7e9b0; */
	border:inherit;
	
}
/* tbody > tr.ui-widget-content.ui-state-highlight td:not(:first-child) {
    background:#FFFFFF;
} */

tbody > tr.ui-widget-content.ui-state-highlight > td {
	color:#4F4F4F;
}

i.fa.fa-external-link.fa-sm:hover {
	color:blue;
}

span.filter-spinner input {
	width:75px;
}

div.data-grid-height-restricted > div.ui-datagrid-content {
  height: 300px;
  overflow-y: auto;
}

button.smallBtn {
	font-size:0.8em !important;
}

button.smallBtn > span.fa {
	margin-top:-6px;
}

tr.ui-widget-content.significant td:last-child {
	background:#DCF9D4;
}

/* tr.ui-widget-content.not-significant td:last-child, tr.ui-widget-content.not-significant td:nth-last-child(2) {
	background:#EDCCCC;
} */

/** Color Gradient **/
.stability-gradient.stability-gradient0 {
	background: #FFFFFF
}
.stability-gradient.stability-gradient1 {
	background: #70CD70;
}
.stability-gradient.stability-gradient2 {
	background: #7ACE70;
}
.stability-gradient.stability-gradient3 {
	background: #85CF71;
}
.stability-gradient.stability-gradient4 {
	background: #90D071;
}
.stability-gradient.stability-gradient5 {
	background: #9CD172;
}
.stability-gradient.stability-gradient6 {
	background: #A7D373;
}
.stability-gradient.stability-gradient7 {
	background: #B3D473;
}
.stability-gradient.stability-gradient8 {
	background: #BED574;
}
.stability-gradient.stability-gradient9 {
	background: #CAD675;
}
.stability-gradient.stability-gradient10 {
	background: #D6D775;
}
.stability-gradient.stability-gradient11 {
	background: #D9CF76;
}
.stability-gradient.stability-gradient12 {
	background: #DAC676;
}
.stability-gradient.stability-gradient13 {
	background: #DBBC77;
}
.stability-gradient.stability-gradient14 {
	background: #DCB278;
}
.stability-gradient.stability-gradient15 {
	background: #DDA878;
}
.stability-gradient.stability-gradient16 {
	background: #DF9E79;
}
.stability-gradient.stability-gradient17 {
	background: #E0937A;
}
.stability-gradient.stability-gradient18 {
	background: #E1897A;
}
.stability-gradient.stability-gradient19 {
	background: #E27E7B;
}
.stability-gradient.stability-gradient20 {
	background: #E47C84;
}

div.ui-overlaypanel-content {
	width:600px;
	text-align:left;
}

div.options-overlay > div.ui-overlaypanel-content {
	width:400px;
}

div.options-overlay > div.ui-overlaypanel-content > p {
	margin:0.5em;
}

div#hc_enrichment_container g.highcharts-legend g.highcharts-legend-item > path {
	stroke-width: 2 !important;
}

/* Fixes white background display issue for tables embedded within other table headers */
div.ui-datatable-header table > tbody > tr.ui-widget-content {
	background: inherit;
}