#formSelect input.ui-inputfield {
    width: 50px;
}

#formSelect input.ui-spinner-input {
    width: 50px;
}

table.no-border, table.no-border tr, table.no-border td {
    border: none !important;
    border-style: none !important;
}

#left li.ui-datalist-item {
    line-height: 16px;
}

#left li.ui-datalist-item > span, #left li.ui-datalist-item > a {
    display: inline-block;
    vertical-align: middle;
}

#left li.ui-datalist-item > a.ui-icon {
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px;
}

div.geneList {
    /* width:500px */
}

div.geneList .ui-datalist-content {
    height: 135px;
    overflow-y: auto;
}

div.forceRight > a {
    float: right;
}

/* ************************ */

/* tbody > tr.ui-widget-content.ui-state-highlight td:not(:first-child) {
    background:#FFFFFF;
} */

i.fa.fa-external-link.fa-sm:hover {
    color: blue;
}

span.filter-spinner input {
    width: 75px;
}

div.data-grid-height-restricted > div.ui-datagrid-content {
    height: 300px;
    overflow-y: auto;
}

/* button.smallBtn {
	font-size:0.8em !important;
}

button.smallBtn > span.fa {
	margin-top:-6px;
} */

tr.ui-widget-content.significant td:nth-last-child(3) {
    background: #DCF9D4;
}

/* tr.ui-widget-content.not-significant td:last-child, tr.ui-widget-content.not-significant td:nth-last-child(2) {
	background:#EDCCCC;
} */

/** Color Gradient **/
.stability-gradient.stability-gradient0 {
    background: #FFFFFF
}

.stability-gradient.stability-gradient1 {
    background: #70CD70;
}

.stability-gradient.stability-gradient2 {
    background: #7ACE70;
}

.stability-gradient.stability-gradient3 {
    background: #85CF71;
}

.stability-gradient.stability-gradient4 {
    background: #90D071;
}

.stability-gradient.stability-gradient5 {
    background: #9CD172;
}

.stability-gradient.stability-gradient6 {
    background: #A7D373;
}

.stability-gradient.stability-gradient7 {
    background: #B3D473;
}

.stability-gradient.stability-gradient8 {
    background: #BED574;
}

.stability-gradient.stability-gradient9 {
    background: #CAD675;
}

.stability-gradient.stability-gradient10 {
    background: #D6D775;
}

.stability-gradient.stability-gradient11 {
    background: #D9CF76;
}

.stability-gradient.stability-gradient12 {
    background: #DAC676;
}

.stability-gradient.stability-gradient13 {
    background: #DBBC77;
}

.stability-gradient.stability-gradient14 {
    background: #DCB278;
}

.stability-gradient.stability-gradient15 {
    background: #DDA878;
}

.stability-gradient.stability-gradient16 {
    background: #DF9E79;
}

.stability-gradient.stability-gradient17 {
    background: #E0937A;
}

.stability-gradient.stability-gradient18 {
    background: #E1897A;
}

.stability-gradient.stability-gradient19 {
    background: #E27E7B;
}

.stability-gradient.stability-gradient20 {
    background: #E47C84;
}

div.options-overlay > div.ui-overlaypanel-content {
    width: 400px;
}

div.options-overlay > div.ui-overlaypanel-content > p {
    margin: 0.5em;
}

div#hc_enrichment_container g.highcharts-legend g.highcharts-legend-item > path {
    stroke-width: 2 !important;
}

/* Fixes white background display issue for tables embedded within other table headers */
div.ui-datatable-header table > tbody > tr.ui-widget-content {
    background: inherit;
}

/* For HTML tooltips on Highcharts plot where GOTerm names make svg tooltips overly wide */
.highcharts-tooltip > span {
    height: auto;
    width: 250px;
    overflow: auto;
    white-space: normal !important;
}

.highcharts-tooltip > span > p {
    margin: 0 15px;
    text-indent: -15px;
    line-height: 1.2;
    margin-top: 3px;
}

#formSelect > div.ui-datalist ul {
    padding-left: 5px;
}
