.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

body {
	background-color: #FFFFFF;
}

#chartForm {
	margin:0.2em;
	margin-top:2em;
}

#page-title h1 {
	color:#888;
	margin: auto;
}

#page-title {
	text-align:center;
}

a:focus,a:hover {color: #039;}
a {
	color: #456;
	text-decoration: none;
}
a:hover {text-decoration: underline;}

.ui-layout-unit-footer {
	background:white;
	border: none;
	border-top: 1px solid #a8a8a8;
}



#bottom-footer {
	color:#777;
	font: normal 90% sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    text-align: center;
}

.ui-layout-resizer {
   border:1px solid #A8A8A8 !important;
} 

.right-border {
	border-right: 1px solid #A8A8A8 !important;

}

.vertical {
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:20px;
}

.toggled-header {
	position: relative;
	top: 30px;
	font-size:initial;
}

#left-toggler, #right-toggler {
	overflow:visible !important;
}

#top span.ui-menuitem-icon {
	font-size:15px;
}
    