created by https://www.gitignore.io

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

### Python ###
*.py[cod]
.DS_Store
gotrack/.DS_Store
gotrack/etc/.DS_Store
gotrack/etc/scripts/.DS_Store
gotrack/src/main/java/ubc/pavlab/gotrack/beans/.DS_Store
gotrack/src/main/java/ubc/pavlab/gotrack/model/.DS_Store
gotrack/src/main/webapp/.DS_Store
gotrack/src/main/webapp/resources/.DS_Store
gotrack/src/main/webapp/WEB-INF/.DS_Store
gotrack/src/test/java/ubc/pavlab/gotrack/.DS_Store
